extends ../layout

block content
  .content
    .content-fluid
      .row
        .col-sm-6.co-sm-offset-3
          if !signup
            include ../../partials/flash
      .row
        .col-md-12
          .card.card-user
            .mensagem
              h1  Seja bem vindo
                br
                span.f1 ao Precision
                hr
