extends ../layout

block content
  .content
      .container-fluid
        .row
          .col-md-12
            .card
              .header
                h4.title Páginas Institucionais
                p.category Páginas abertas ao público
              .content
                .row
                  .col-sm-4
                    .card
                      .header
                        h4.title Home
                        p.category Página Inicial
                      .content
                        .image.auto-height
                          img(src='../images/pagesPreview/Home.png', alt='Página Inicial')
                        if (user._role.value > 9)
                          .footer
                            hr
                            .stats
                              .col-sm-10.col-sm-offset-1
                                a(href='/page/home').btn.btn-info
                                  i.fa.fa-edit
                                  | Editar Página
                  .col-sm-4
                    .card
                      .header
                        h4.title O Laboratório
                        p.category Sobre o laboratório
                      .content
                        .image.auto-height
                          img(src='../images/pagesPreview/O-laboratorio.png', alt='O Laboratório')
                        if (user._role.value > 9)
                          .footer
                            hr
                            .stats
                              .col-sm-10.col-sm-offset-1
                                a(href='/page/laboratorio').btn.btn-info
                                  i.fa.fa-edit
                                  | Editar Página

                  .col-sm-4
                    .card
                      .header
                        h4.title Portfolio
                        p.category Galeria de fotos do portfolio
                      .content
                        .image.auto-height
                          img(src='../images/pagesPreview/Portfolio.png', alt='Portfolio')
                        if (user._role.value > 9)
                          .footer
                            hr
                            .stats
                              .col-sm-10.col-sm-offset-1
                                a(href='/page/portfolio').btn.btn-info
                                  i.fa.fa-edit
                                  | Editar Página


                  .col-sm-4
                    .card
                      .header
                        h4.title Produtos e Serviços
                        p.category Descrições de produtos e serviços
                      .content
                        .image.auto-height
                          img(src='../images/pagesPreview/Produtos.png', alt='Produtos e Serviços')
                        if (user._role.value > 9)
                          .footer
                            hr
                            .stats
                              .col-sm-10.col-sm-offset-1
                                a(href='/page/produtos').btn.btn-info
                                  i.fa.fa-edit
                                  | Editar Página
