extends ../layout

block content
  .content
    .container-fluid
      .row
        .col-md-8
          .card
            .header
              h4.title Edit Profile
            .content
              form(action='/account/profile', method='POST')
                input(type='hidden', name='_csrf', value=_csrf)

                .row
                  .col-sm-12
                    .form-group
                      label.control-label(for='email') Email
                      input.form-control(type='email', name='email', id='email', value=user.email)
                .row
                  .col-sm-12
                    .form-group
                      label.control-label(for='name') Nome
                      input.form-control(type='text', name='name', id='name', value=user.profile.name)
                .row
                  .col-sm-12
                    .form-group
                        button.btn.btn-info.btn-fill.pull-right(type='submit')
                          i.fa.fa-pencil
                          | Salvar Perfil
        .col-md-4
          .card.card-user
            .image
              img(src='/images/ilustra-laboratorio-digital.jpg', alt='...')
            .content
              .author
                a(href='#')
                  img.avatar.border-gray(src='/images/faces/face-0.jpg', alt='...')
                  h4.title
                    | Túlio Navarro
                    br
                    small Programador
