footer#footerPaginas
  .container
    .row
      .col-xs-12.col-sm-6.col-md-2
        .logo-footer
          include ../../public/svg/logo-precision.svg
      .hidden-sm.hidden-xs.col-md-4
        .menu-footer
          span Mapa do site
          nav
            ul.col-md-6
              li
                a(href="./laboratorio") O laboratório
              li
                a(href="./produtos") Produtos e Serviços
              li
                a(href="./agenda") Agenda
            ul.col-md-6
              li
                a(href="./portfolio") Portfolio
              //- li
              //-   a(href="./laboratorio") FAQ
              li
                a(href="./contact") Contato

      .col-xs-12.col-sm-6.col-md-6
        #instagramBlock
          span
            i.fa.fa-instagram
            | segue a gente
            a(href="https://www.instagram.com/lab_precision/", target="_blank") @lab_precision
          .mural
            ul
              li
                img(src="")
      .col-sm-12
        p © Copyright 2017 - Laboratório Precision. Todos os direitos reservados.
          br
          | CROSP/CL 12644. RT- CRO 83632. Luis Eduardo Z.B. Calicchio
