mixin menuTop()
  #menuTop(class=attributes.class)
    .logo-top
      a(href='/')
        include ../../public/svg/logo-precision.svg
    nav.menu-top
      if (user)
        a(href="/dashboard/home").login Bem vindo, #{user.profile.firstName}
          i.fa.fa-user
      else
        a(href="/login").login LOGIN
          i.fa.fa-user
      .bg-branco

      .open-menu.m-close
        hr.line.line-1
        hr.line.line-2
        hr.line.line-3

      .menu-opened.closed
        ul
          li.hideMenu
            a(href="/laboratorio") O Laboratório
              hr
          li.hideMenu
            a(href="/produtos") Produtos e Serviços
              hr
          li.hideMenu
            a(href="/portfolio") Portfolio
              hr
          li.hideMenu
            a(href="/contact") Contato
              hr

          if (user)
            li.btnLogin.hideMenu
              a(href="/dashboard/home") Acessar o Painel
          else
            li.btnLogin.hideMenu
              a(href="/login") Acesso Login
