#footerPaginas {
  padding: 20px 0;
  background: #333333;
  color: #fff;
  p {
    text-align: center;
    font-weight: 200;
    margin-top: 20px;
    font-size: 12px;
  }
  #logo_svg {
    max-width: 200px;
    display: block;
    @media (max-width: 768px) {
      margin: 0 auto 20px auto;
    }
    .colorLogo {
      fill: #fff;
    }
  }
  .logo-footer {
    padding-top: 10px;
  }
  .menu-footer {
    padding-top: 10px;
    span {
      display: block;
      font-weight: 200;
      margin-bottom: 15px;
    }
    ul {
      margin: 0;
      li {
        color: #4b4b4b;
        margin-bottom: 10px;
        a {
          color: #fff;
          font-weight: 200;
        }
      }
    }
  }
  #instagramBlock {
    @media (max-width: 768px) {
      padding: 20px;
      margin: 0 auto 20px auto;
    }
    span {
      color: rgba(255,255,255,0.5);
      font-weight: 200;
      margin-left: 25px;
      margin-bottom: 15px;
      display: block;
      i {
        font-size: 20px;
        color: #fff;
        margin-left: -25px;
        position: absolute;
      }
      a {
        margin-left: 5px;
        color: #fff;
      }
    }
    .mural {

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        @media (max-width: 458px) {
          display: block;
          margin: 0 auto;
          li {
            width: 50%;
          }
        }
        li {
          flex: 1;
          list-style: none;
          display: inline-block;
          height: 150px;
          a {
            color: #fff;
            width: 100%;
            height: 100%;
            background-size: cover;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
