.logo {
  padding: 40px !important;
  #logo_svg {
    max-width: 150px;
    margin: 0 auto;
    display: block;
    .colorLogo {
      fill: #fff;
    }
  }
}

.mensagem {
  padding: 80px 40px;
  background: url(/images/bg-slide-1.jpg) no-repeat center;
  background-size: cover;
  h1 {
    font-weight: 800;
    color: #fff;
    .f1 {
      margin-left: 70px;
    }
    hr {
      width: 230px;
      border-top: 8px solid;
      //margin-left: auto;
      margin-left: 150px;
    }
  }
}

.teeth {
  cursor: pointer;
  &:hover {
    path {
      stroke: #969696;
    }
    line {
      stroke: #969696;
    }
    .numberRef {
      fill: #969696;
    }
    .st0 {
      stroke: #fff;
    }
    text {
      fill: #969696;
    }
  }
  &.selected {
    path {
      stroke: #2d2d2d;
    }
    line {
      stroke: #2d2d2d;
    }
    .numberRef {
      fill: #2d2d2d;
    }
    .st0 {
      stroke: #fff;
    }
    text {
      fill: #2d2d2d;
    }
  }
}
