#agenda {
  padding-top: 110px;
  margin-bottom: 100px;
  @media (min-width: 768px) and (max-width: 1200px) {
    .container {
      margin: 0;
      width: 100%;
    }
  }
  h1 {
    font-size: 65px;
    color: #c5c5c5;
    top: 100px;
    font-weight: 800;
    margin: 0;
    line-height: 60px;
    position: absolute;
    margin-left: 100px;
    @media (min-width: 768px) and (max-width: 1200px) {
      margin-left: 50px;
    }
    @media (max-width: 600px) {
      margin-left: 20px;
    }
    span.f3 {
      margin-left: 50px;
    }
    hr {
      margin: 0;
      border-top: 8px solid;
      margin-left: 95px;
      width: 50px;
    }
  }
  .conteudo {
    display: flex;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .destaque {
      width: 300px;
      margin-left: 200px;
      margin-right: 20px;
      padding: 20px;
      color: #fff;
      @media (min-width: 768px) and (max-width: 1200px) {
        margin-left: 100px;
      }
      @media (max-width: 768px) {
        flex: 1;
        display: block;
        min-height: 330px;
        margin-bottom: 20px;
      }
      @media (max-width: 600px) {
        margin: 0;
        width: 100%;
      }
      h4 {
        display: block;
        text-align: right;
        font-weight: 800;
        margin: 0;
        hr {
          margin: 0 0 10px auto;
          width: 100px;
        }
      }
      p {
        text-align: right;
      }
      .dataDestaque {
        display: block;
        text-align: right;
      }
    }
    .eventos {
      flex: 1;

      .linha {
        flex: 1;
        height: 300px;
        display: flex;
        @media (min-width: 768px) and (max-width: 1024px) {
          flex-direction: column;
          height: auto;
        }
        @media (max-width: 600px) {
          flex-direction: column;
          height: auto;
        }

        .proximo {
          flex: 1;
          background: #8b8b8b;
          position: relative;

          span.titulo {
            display: block;
            padding: 40px 0 0 40px;
            color: #c5c5c5;
            font-size: 25px;
            font-weight: 800;
          }
          #arrow-right {
            width: 30px;
            position: absolute;
            bottom: 20px;
            right: 20px;
          }
          @media (min-width: 768px) and (max-width: 1024px) {
            padding: 20px;
            span.titulo {
              padding: 10px 0 0 10px;
            }
            #arrow-right {
              transform: rotate(90deg);
            }
          }
          @media (max-width: 600px) {
            padding: 40px;
            span.titulo {
              padding: 10px 0 0 10px;
            }
            #arrow-right {
              transform: rotate(90deg);
            }
          }
        }
        #calendar{
          flex: 1.2;
          background: #555;
        }
        .eventoData {
          background: #656565;
          flex: 1;
          display: flex;
          align-items: center;
          h2 {
            display: block;
            margin: 0 auto;
            color: #c5c5c5;
            font-size: 120px;
            align-items: center;
            text-align: center;
            small {
              color: #c5c5c5;
              font-weight: 800;
              display: block;
              font-size: 26px;
              margin-left: 5px;
              text-transform: uppercase;
              text-align: center;

              @media (min-width: 768px) and (max-width: 1200px) {
                margin-bottom: 20px;
              }
              @media (max-width: 600px) {
                margin-bottom: 20px;
              }
            }
          }
        }
        .descricao {
          flex: 1.2;
          background: #ebebeb;
          color: #2c2c2c;
          min-height: 200px;
          h3 {
            margin: 30px 0 5px 30px;
            font-weight: 800;
            color: #2c2c2c;
            font-size: 20px;
          }
          p {
            margin: 0 10px 5px 30px;
          }
          a {
            display: block;
            color: #2c2c2c;
            margin: 20px 0 5px 30px;
          }
        }
      }
    }
  }
}
