#contatoMaps {
  padding-top: 160px;
  @media (min-width: 768px) and (max-width: 1200px) {
    .container {
      width: 100%;
      margin: 0;
      padding: 0 70px;
    }
  }
  .infos {
    padding-left: 50px;
    @media (max-width: 1200) {
      padding-left: 150px;
    }
    h2 {
      margin-top: 0;
      color: #c5c5c5;
      font-weight: bold;
      font-size: 60px;
      margin-bottom: 0;
      line-height: 55px;
      hr {
        width: 175px;
        margin-top: 5px;
        border-top: 8px solid;
        margin-left: 90px;
      }
    }
    ul {
      margin-left: 10px;
      padding-left: 25px;
      li {
        list-style: none;
        padding: 10px 0;
        font-weight: 200;
      }
    }
    svg {
      width: 23px;
      margin-top: -2px;
      margin-left: -30px;
      position: absolute;
    }
    #arrow-right {
      display: block;
      right: 20px;
      @media (max-width: 768px) {
        transform: rotate(90deg);
        margin-top: 75px;
      }
    }
    .endereco {
      text-align: right;
      display: block;
      margin-top: 40px;
      @media (max-width: 768px) {
        padding: 10px 40px;
      }
    }
  }
  #map {
    width: 100%;
    height: 400px;
  }
}

#trabalheConosco {
  position: relative;
  padding: 170px 0 50px 0;
  @media (max-width: 768px) {
    padding: 120px 0 50px 0;
  }
  h2 {
    font-size: 90px;
    color: #eaeaea;
    font-weight: 800;
    transform: rotate(-90deg);
    position: absolute;
    top: 20px;
    left: 40px;
    @media (max-width: 992px) {
      left: -90px;
    }
  }
  .ilustra {
    width: 100%;
    display: block;
    float: right;
    margin-right: 27px;
    max-width: 450px;
    @media (max-width: 768px) {
      float: none;
      margin: 0 auto;
    }
  }
  h4 {
    line-height: 40px;
    font-size: 40px;
    color: #c5c5c5;
    font-weight: bold;
  }
  .chamado {
    height: 280px;
    position: relative;
    padding-left: 30px;
    @media (max-width: 768px) {
      padding: 30px;
      margin: 0 30px;
    }
    @media (max-width: 480px) {
      margin: 50px 20px 50px 20px;
      padding: 10px;
    }
    span.bg-fundo {
      width: 80px;
      position: absolute;
      height: 100%;
      z-index: -1;
      background: #f2f2f2;
      left: 0;
    }
    p {
      font-weight: 200;
    }
    .btn-curriculo {
      border: 1px solid;
      background: none;
      font-size: 15px;
      font-weight: 200;
      display: inline-block;
      padding: 5px 10px;
    }
  }
}
