#portifolio {
  padding-top: 120px;
  margin-bottom: 100px;
  h1 {
    font-size: 65px;
    color: #c5c5c5;
    top: 100px;
    font-weight: 800;
    margin: 0;
    line-height: 60px;
    position: absolute;
    @media (max-width: 768px) {
      position: static;
      text-align: center;
      margin-bottom: 50px;
    }
    span.f3 {
      margin-left: 50px;
    }
    hr {
      margin: 0;
      border-top: 8px solid;
      margin-left: 95px;
      width: 65px;
      @media (max-width: 768px) {
        margin-left: 50%;
      }
    }
  }
  .slideGaleria {
    display: flex;
    margin-left: 300px;
    flex-direction: column;
    @media (max-width: 768px) {
      margin-left: 0;
    }
    .linha {
      flex: 1;
      display: flex;
      align-items: center;
      @media (max-width: 768px) {
        flex-direction: column;
        display: block;
        .item {
          display: inline-block;
          max-width: 50%;
          margin: 0 auto;
          float: left;
        }
      }
      .item {
        flex: 1;
        justify-content: flex-start;
        overflow: hidden;
        max-width: 380px;
        img {
          width: 100%;
          &:hover {
            transition: .6s;
            transform: scale(1.1);
          }
        }
      }
      .voltar {
        margin-top: 20px;
        margin-left: 20px;
        width: 30px;
        cursor: pointer;
        @media (max-width: 768px) {
          margin-left: 40px;
          display: block;
          width: 40px;
          float: left;
        }
      }
      .proximo {
        margin-top: 20px;
        margin-left: 20px;
        width: 30px;
        cursor: pointer;
        @media (max-width: 768px) {
          display: block;
          width: 40px;
          float: left;
        }
      }
    }
  }
}
