extends ../layout
include ../partials/menu-top

block content
  +menuTop(class="black")

  #contatoMaps
    .container.no-padding
      .row
        .col-sm-5.infos
          h2 ENTRE
            br
            | EM
            br
            | CONTATO
            hr
          ul
            li
              include ../../public/svg/icones/telefone.svg
              | +55 (11) 3848-9393
            li
              include ../../public/svg/icones/whatsapp.svg
              | +55 (11) 94576-6403
            li
              include ../../public/svg/icones/email.svg
              | laboratorio@precisionlaboratorio.com.br
          include ../../public/svg/arrow-right.svg
          span.endereco Rua João Lourenço, 564
            br
            | Vila Nova Conceição
            br
            | São Paulo - SP
        .col-sm-7
          #map
  #trabalheConosco
    .container
      .row
        .col-sm-7
          h2 WORK.
          video.ilustra(poster='./images/ilustra-trabalheconosco.jpg' playsinline autoplay muted loop)
            source(src='./images/videos/Video_Work_contato.mp4' type='video/mp4')
        .col-sm-5.chamado
          span.bg-fundo
          h4 QUER
            br
            | TRABALHAR
            br
            | CONOSCO?
          p Envie um e-mail com seu
            br
            | currículo para:

          strong.btn-curriculo laboratorio@precisionlaboratorio.com.br





  //- form.form-horizontal.hide(method='POST')
  //-   input(type='hidden', name='_csrf', value=_csrf)
  //-   .form-group
  //-     label(class='col-sm-2 control-label', for='name') Name
  //-     .col-sm-8
  //-       input.form-control(type='text', name='name', id='name', autofocus=true)
  //-   .form-group
  //-     label(class='col-sm-2 control-label', for='email') Email
  //-     .col-sm-8
  //-       input.form-control(type='text', name='email', id='email')
  //-   .form-group
  //-     label(class='col-sm-2 control-label', for='message') Body
  //-     .col-sm-8
  //-       textarea.form-control(name='message', id='message', rows='7')
  //-   .form-group
  //-     .col-sm-offset-2.col-sm-8
  //-       button.btn.btn-primary(type='submit')
  //-         i.fa.fa-envelope
  //-         | Enviar
