extends ../layout
include ../partials/menu-top

block content
  +menuTop(class="black")

  #laboratorio
    .container.historia
      .row
        .col-sm-5
          h1
            span.p0 O
            br
            span.p1 LABO
            br
            span.p2 RA
            br
            span.p3 TÓRIO_
          video.ilustra(poster='./images/ilustra-historia.jpg' playsinline autoplay muted loop)
            source(src='./images/videos/video_laboratorio.mp4' type='video/mp4')
        .col-sm-7
          h3 História
          span.number 01
          div !{pageInfo.customFields.historia}
      .row
        .col-sm-12.text-right.downScroll
          include ../../public/svg/arrow-right.svg

    .container.quemSomos
      .row
        .col-sm-5.first
          h3 Quem somos
          p O Laboratório Precision é composto por Equipe administrativa qualificada e Técnicos em Prótese Dentária capacitados, que fazem uso de uma formação mista ao receber casos de todo Brasil, sob orientação do Ceramista Chefe
            strong &nbsp;Wagner Nhoncance
            | &nbsp;(CRO-TPD 5684-SP).
          p Desta forma é possível avaliar e atender adequadamente as solicitações de cirurgiões-dentistas, consultórios e/ou clínicas, e proporcionar resultados personalizados com orientação direta para todos.
        .col-sm-7.secund
          span.number 02
          img.ilustra(src="images/ilustra-quem-somos.jpg")

    .container.proposito
      .row
        .col-sm-7
          span.number 03
          video.ilustra(poster='./images/ilustra-proposito.jpg' playsinline autoplay muted loop)
            source(src='./images/videos/Video_lab_Proposito.mp4' type='video/mp4')
        .col-sm-5
          h3 Propósito
          p O nosso comprometimento é com todos aqueles que acreditam no uso da tecnologia como aliada da odontologia funcional e estética para gerar resultados de excelência, compartilhando o conhecimento necessário capaz de transformar a carreira dos nossos clientes dentistas e consequentemente beneficiando e aprimorando a vida e a saúde de seus pacientes.

    .container.laboratorioDigital
      .row
        .col-sm-5.description
          span.number 04
          h3 Laboratório Digital
          p No
            strong &nbsp;Laboratório Precision
            | &nbsp;contamos com a tecnologia CAD/CAM (computer aided design/computer aided manufacturing) para escaneamento  3D, desenho virtual e fresagem das restaurações. O sistema possibilita a criação de coroas totais, inlays, onlays, facetas, pilares personalizados, pontes fixas, copings, infraestruturas de pontes, entre outras, com alta precisão e a garantia de um alto grau de reprodução estética e funcional dos planejamentos anteriormente criados. A manufatura digital adiciona ainda mais velocidade e padronização dos processos, diferencial que beneficia biologicamente o caso clínico.
          p Para assegurar a personalização estética e a individualização de cada caso clínico, a finalização e maquiagem final desses elementos são feitas de forma artesanal.
        .col-sm-7
          img.ilustra(src="images/ilustra-laboratorio-digital.jpg")
