mixin cardContent(title, subTitle, content)
  .card
    .header
      h4.title=title
      p.category=subTitle

    .content= content

    .footer
      .legend
        .fa.fa-circle.text-info
        | Open
        .fa.fa-circle.text-danger
        | Bounce
        .fa.fa-circle.text-warning
        | Unsubscribe
      hr
      .stats
        .fa.fa-clock-o
        | Campaign sent 2 days ago
