// Tip 1: you can change the color of the sidebar using: data-color="blue | black | azure | green | orange | red | purple"
// Tip 2: you can also add an image using data-image tag
.sidebar(data-color="black")
  .sidebar-wrapper
    .logo
      a(href="/dashboard/home")
        include ../../../public/svg/logo-precision.svg

    ul.nav
      li.active
        a(href="/dashboard/home")
          i.pe-7s-graph
          | Dashboard
      li
        a(href="/dashboard/users")
          i.pe-7s-users
          | Usuários
      li
        a(href="/dashboard/galleries")
          i.pe-7s-photo
          | Galeria
      li
        a(href="/dashboard/pages")
          i.pe-7s-browser
          | Páginas Institucionais
      li
        a(href="/dashboard/events")
          i.pe-7s-date
          | Eventos
