// Tip 1: you can change the color of the sidebar using: data-color="blue | black | azure | green | orange | red | purple"
// Tip 2: you can also add an image using data-image tag
.sidebar(data-color="black")
  .sidebar-wrapper
    .logo
      a(href="/dashboard/home")
        include ../../../public/svg/logo-precision.svg

    ul.nav
      li.active
        a
          i.pe-7s-graph
          | Dashboard
